<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
</head>
<body>
<div id="app">
    <input type="text"  v-model="msg" @keyup="add">
    <ul>
        <li v-for="(value,index) in arr" @dblclick="remove(index)">{{value}}<i>双击我删除</i></li>
    </ul>
</div>
<script src=".\node_modules\vue\dist\vue.js"></script>
<script>
    let vm=new Vue({
        el:"#app",
        data:{
            msg:'',
            arr:[]
        },
        methods:{
            add:function(e){
                if (e.keyCode===13) {
                    this.arr.unshift(this.msg.trim());
                    this.msg = this.msg.trim();
                }
            },
            remove:function (index) {
                this.arr=this.arr.filter(function (item,i) {
                    return index!==i;
                })
            }
        }
    })
</script>
</body>
</html>